nav {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 99;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-logo {
  color: #15315a;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.1rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: none;
}

.nav-links {
  color: #15315a;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.1rem 3rem;
  height: 100%;
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
}

.nav-links:hover {
  border-bottom: none;
  color: #874b27;
}

.fa-bars {
  color: #b3825a;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: block;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .nav-menu.active {
    background: #b3825a;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 100%;
    display: block;
  }

  .nav-links:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #b3825a;
    font-size: 2rem;
  }
}
